<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="container">
  <div class="row">
    <div class="col-xl-8">
      <ng-container *ngFor="let producto of carrito(); trackBy: trackById">
        <div class="card border shadow-none mb-3">
          <div class="card-body">
            <div class="d-flex align-items-start border-bottom pb-3">
              <div class="me-4">
                <img [src]="producto.imagen" class="avatar-lg rounded">
              </div>
              <div class="flex-grow-1 align-self-center overflow-hidden">
                <div>
                  <h5>{{ producto.nombre }}</h5>
                  <p class="mb-0">{{ producto.descripcion }}</p>
                </div>
              </div>
              <div class="flex-shrink-0 ms-2">
                <button class="btn btn-danger btn-sm" (click)="quitar(producto.id)">
                  <i class="mdi mdi-delete"></i> Quitar
                </button>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-4">
                <p class="text-muted mb-1">Precio</p>
                <h5 class="mb-0">{{ producto.precio | currency }}</h5>
              </div>
              <div class="col-md-5">
                <p class="text-muted mb-1">Cantidad</p>
                <h5 class="mb-0">{{ producto.cantidad }}</h5>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row my-4">
        <div class="col-sm-6">
          <a href="catalogo" class="btn btn-link text-muted">
            <i class="mdi mdi-arrow-left me-1"></i> Volver
          </a>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="mt-5 mt-lg-0">
        <div class="card border shadow-none">
          <div class="card-header bg-transparent border-bottom py-3 px-4">
            <h5 class="font-size-16 mb-0">Order Summary</h5>
          </div>
          <div class="card-body p-4 pt-2">
            <div class="table-responsive">
              <table class="table mb-0">
                <tbody>
                  <tr *ngFor="let producto of carrito()">
                    <td>
                      {{ producto.nombre }} <span *ngIf="producto.cantidad">x{{ producto.cantidad }}</span>
                    </td>
                    <td class="text-end">
                      {{ (producto.precio * (producto.cantidad || 1)) | currency }}
                    </td>
                  </tr>

                  <tr>
                    <td>Subtotal:</td>
                    <td class="text-end">{{ subtotal() | currency }}</td>
                  </tr>

                  <tr>
                    <td>IVA (16%):</td>
                    <td class="text-end">{{ (totalConIVA() * 0.16) | currency }}</td>
                  </tr>

                  <tr class="bg-light">
                    <th>Total con IVA:</th>
                    <td class="text-end fw-bold">{{ totalConIVA() | currency }}</td>
                  </tr>
                </tbody>
              </table>

              <app-paypal [total]="totalConIVA()" [productos]="carrito()"></app-paypal>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>